body {
    background-color: #f8f9fa;
    padding-top: 20px;
}

h1, h2 {
    color: #343a40;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item .btn-group {
    display: flex;
    align-items: center;
}

.form-control {
    display: inline-block;
    width: auto;
}

.btn {
    margin-left: 5px;
}

/* Estilos para las tablas */
.table-responsive {
    margin-top: 20px; /* Ajuste el margen superior según sea necesario */
}

/* Estilos para los formularios de acción */
.action-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre cada formulario */
}

.action-form input,
.action-form select,
.action-form textarea {
    margin-bottom: 5px; /* Espacio entre cada campo */
}

.action-form button {
    margin-bottom: 5px; /* Espacio entre el botón y el siguiente formulario */
}
